{% import 'shared/utils.html' as util %}
{% extends 'base.html' %}

{% block title%}Categories List{% endblock title %}

{% block content %}
    <h1>All Categories</h1>
    <div class="table-responsive">
        <table id="budget">
            <thead>
                <th>#</th>
                <th>{{ util.sortable(0, 0, "name", "Category", sort_direction, ".home") }}</th>
                <th>{{ util.sortable(0, 0, "budget_per_month", "Amount Budgeted Per Month", sort_direction, ".home") }}</th>
                <th>Money Saving Steps</th>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        {% if category['money_saving_steps'] %}
                            {% set display_steps = category['money_saving_steps'] %}
                        {% else %}
                            {% set display_steps = "" %}
                        {% endif %}
                        <td>{{ category['id'] }}</td>
                        <td>{{ category['name'] }}</td>
                        <td>{{ util.fmt_num(category['budget_per_month']) }}</td>
                        <td>{{ display_steps }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td class="total-budget">{{ util.fmt_num(total_budget['sum']) }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

<script type="text/javascript">
    $('#budget').Tabledit({
        url: '_updatebudget',
        eventType: 'dblclick',
        editButton: false,
        deleteButton: false,
        hideIdentifier: true,
        columns: {
            identifier: [0, 'id'],
            editable: [[2, 'budget_per_month'], [3, 'money_saving_steps']]
        },
        onSuccess: function(data, textStatus, jqXHR) {
            $(".total-budget").text(data.sum);
        }
    });

</script>

{% endblock content %}
