{% extends 'base.html' %}

{% block content %}
    <div class="table-responsive">
        <table id="budget">
            <thead>
                <th>#</th>
                <th>Category</th>
                <th>Amount Budgeted Per Month</th>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        {% if category['budget_per_month'] %}
                            {% set budget_display = "{:,.2f}".format(category['budget_per_month']) %}
                        {% else %}
                            {% set budget_display = "0" %}
                        {% endif %}
                        <td>{{ category['id'] }}</td>
                        <td>{{ category['name'] }}</td>
                        <td>{{ budget_display }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td class="total-budget">{{ "{:,.2f}".format(total_budget['sum']) }}</td>
                </tr>
            </tbody>
        </table>
    </div>

<script type="text/javascript">
    $('#budget').Tabledit({
        url: '_updatebudget',
        eventType: 'dblclick',
        editButton: false,
        deleteButton: false,
        hideIdentifier: true,
        columns: {
            identifier: [0, 'id'],
            editable: [[2, 'budget_per_month']]
        },
        onSuccess: function(data, textStatus, jqXHR) {
            $(".total-budget").text(data.sum);
        }
    });

</script>

{% endblock content %}
