<!doctype html>
<title>Budget Program | {% block title %}{% endblock %}</title>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.tabledit.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-yeti.min.css')}}" id="theme-file">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="topnav">
        <a class="topnav-item" href="/">Home</a>
        <a class="topnav-item" href="/report">Reports</a>
        <a class="topnav-item" href="/ingest">Upload a bank or credit card file</a>
        <a class="topnav-item" href="/rules">Categorization Rules</a>
        <a class="topnav-item" href="/budget">Categories</a>
    </div>
    <div class="page-content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>