/*  EVERY PAGE */

div.page-content {
    margin-left: 40px;
}

/*  TOP NAV  */

div.topnav {
    padding-top: 25px;
}

a.topnav-item {
    margin-top: 15px;
    padding-left: 107px;
    font-size: 19px;
}

/*  HOMEPAGE  */

h2.home-header {
    margin-left: 103px;
}

/* SPENDING DETAIL REPORT   */

.spending-report table {
    font-size: 15px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

.table.user-select-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th, td {
    padding: 3px 20px 3px 20px;
}

td.amount {
    text-align: right;
}

td.budgeted {
    background-color: cyan;
}

td.post-date {
    width: 130px;
}

td.category-name {
    width: 170px;
}

/* SPENDING BY CATEGORY REPORT   */

div.spending-cat-report {
    margin-left: 40px;
}

table#spendingcat {
    font-size: 15px;
}

/* BUDGET FOR YEAR   */

td.over-budget {
    background-color: pink;
}

/*  ADD CATEGORIZATION RULE  */

.add-rule-page h1 {
    border-bottom: 5px solid salmon;
    border-top: 5px solid salmon;
    width: 800px;
}

.add-rule-page legend {
    padding: 2px;
}

.add-rule-page .help-text {
    font-size: 18px;
}

.add-rule-page .fields-wrapper {
    display: grid;
    grid-template-columns: 248px 500px;
    font-size: 16px;
    margin-top: 26px;
}

.add-rule-page .box.first-col {
    margin-left: 24px;
}

.add-rule-page .first-row {
    margin-top: 40px;
}

.add-rule-page .box.last-row {
    margin-bottom: 20px;
}

.add-rule-page input {
    background-color: #f1f1f1;
    margin: 10px;
}

.add-rule-page input.text-input {
    width: 350px;
}

fieldset.add-rule {
    border: 2px solid black;
    margin-top: 15px;
    width: 800px;
}

.add-rule-page label {
    font-size: 16px;
    margin-top: 15px;
}

.add-rule-page .first-col label {
    color: #0066ff;
}

.add-rule-page select#category {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 12px;
}

.add-rule-page .save-button {
    background: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    border-radius: 10px;
    height: 50px;
    margin-bottom: 32px;
    margin-left: 256px;
    width: 100px;
}

/* OTHER  */

div.choice {
    padding: 62px 0px 10px 0px;
    margin-left: 40px;
    font-size: 19px;
}

div.reports-menu {
    margin-left: 40px;
}

div.month-link {
    padding-top: 30px;
}

