{% extends 'base.html' %}
{% block content %}
<h2 class="home-header">
The Koopers' Budgeting App
</h2>
<div class="choice">
    <a href="/report">Reports</a>
</div>
<div class="choice">
    <a href="/ingest">Upload a bank or credit card file</a>
</div>
<div class="choice">
    <a href="/rules">Categorization Rules</a>
</div>
<div class="choice">
    <a href="/budget">Categories</a>
</div>
<div class="choice">
    <a href="/medres">Identify Medical Reimbursements</a>
</div>
{% endblock content %}
