body {
    font-family: Arial, sans-serif;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }

th, td {
    padding: 3px 20px 3px 20px;
}

td.amount {
    text-align: right;
}